@font-face {
  font-family: "discworld";
  src: local("discworld") url("./font/discworldgame.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "discworld";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
